#heading1{
  margin: auto;
  text-align: center;
  margin-top: 20px;
  font-family: 'Permanent Marker',cursive;
}

#tablebody{
  margin: auto;
  /* border: black 2px solid; */
  margin-top: 10px;
}

#one{
  width: 200px;
  height: 400px;
  background-color: #6FA798;
  border: white 10px solid;
}

#two{
  width: 200px;
  height: 400px;
  background-color: #468B78;
  border: white 10px solid;
}

#three{
  width: 200px;
  height: 400px;
  background-color: #256F5B;
  border: white 10px solid;
}


#four{
  width: 200px;
  height: 400px;
  background-color: #0E5440;
  border: white 10px solid;
}

#five{
  width: 200px;
  height: 400px;
  background-color: #003828;
  border: white 10px solid;
}
